@font-face {
    font-family: "Beaufort for LOL";
    src: url(../assets/fonts/beaufort_for_LOL/BeaufortforLOL-Regular.ttf);
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url(../assets/fonts/beaufort_for_LOL/BeaufortforLOL-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url(../assets/fonts/beaufort_for_LOL/BeaufortforLOL-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

body {
    font-family: "Beaufort for LOL", sans-serif;
    font-size: 16px;
    background-image: url(../assets/images/invoc.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.user-background {
    background-image: url(../assets/images/user.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 48px;
    background-color: #111111;
}

.user-header {
    width: 100%;
    padding: 48px;
}

nav {
    display: flex;
    gap: 24px;
    color: white;
}

main {
    position: relative;
}

h1 {
    padding-top: 24px;
    text-align: center;
    font-style: italic;
    color: black;
}

h1 > span {
    font-size: 2.5em;
    color: black;
}

#importChampionsButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(11, 196, 226);
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.top-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px;
}

#createChampionForm {
    position: absolute;
    top: 50%;
    left: 48px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 32px;
    background-color: white;
}

#createChampionForm > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

#createChampionForm > div > label {
    font-weight: bold;
}

#createChampionForm > div > input {
    background-color: rgba(186, 186, 186, 0.3);
    padding: 8px;
    border-radius: 2px;
    border: none;
}

#createChampionForm > div > input:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

#createChampionForm > div > select {
    background-color: rgba(186, 186, 186, 0.3);
    padding: 8px;
    border-radius: 2px;
    border: none;
}

#createChampionForm > div > select > option {
    background-color: rgba(186, 186, 186, 0.3);
    padding: 8px;
}

#createChampionForm > .createChampionButton {
    background-color: rgb(11, 196, 226);
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
}

#champions {
    display: flex;
    flex-wrap: wrap;
    padding: 48px;
}

#champions > article {
    flex-basis: 18%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12px;
    margin-right: 2.5%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#champions > article:nth-child(5n) {
    margin-right: 0;
}

#champions > article > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 12px;
    text-align: center;
}

#champions > article > a {
    width: 100%;
    background-color: rgb(6, 28, 37);
    border-radius: 0 0 12px 12px;
    padding: 8px;
    font-style: italic;
    transition: 300ms;
}

#champions > article > a:hover {
    background-color: rgb(0, 102, 128);
    padding-left: 16px;
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
    background-color: white;
    color: black;
}

.userForm > div {
    min-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.userForm > div > label {
    font-weight: bold;
}

.userForm > div > input {
    background-color: rgba(186, 186, 186, 0.3);
    padding: 12px;
    border-radius: 2px;
    border: none;
    transition: 300ms;
}

.userForm > div > input:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.userForm > .userFormButton {
    margin-top: 16px;
    background-color: rgb(11, 196, 226);
    padding: 16px;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userForm > .userFormButton:hover {
    background-color: rgb(0, 166, 207);
}

#champion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: white;
}

#champion > .back {
    background-color: rgb(11, 196, 226);
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}